extends layout


block content
  h1= title
  p Welcome to   #{title}
  button(
    type='submit'
    style='width: 25px; height: 25px; background-color: /images/888763.jpg;'
    onclick="if you plan to use single quotes here, use double quotes outer"
  )